// Here you can add other styles
.c-sidebar {
    color: #fff;
    background: #0ac7ef;

    .c-sidebar-nav-link {
      color: #fff;

      .c-sidebar-nav-icon {
        color: #fff;
      }

      &:hover {
        text-decoration: none;
        color: #fff;
        background: #e50e0b;
      }
  }

  }

  :root{

    --amplify-primary-color: #13aac8;
    --amplify-primary-tint: #0ac7eF; 
    --amplify-primary-shade: #13aac8;
  
    }

    .span-right {
      float: right;
    }

    table {
      width: 100%;
    }
    th.name {
      width: 50%
    }
    th.quantity {
      width: 10%;
    }
    th.buttons {
      width: 40%;
    }

    .fixed-header tbody{
      display:block;
      overflow:auto;
      height:100px;
    }
    .fixed-header thead tr th{
      display:block;
    }